<!DOCTYPE html>
<html>
<head>
  <title>Links</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<header>
  <% if current_user %>
    <%= current_user.username %>
    <%= button_to "Sign Out", session_url, method: :delete %>
  <% end %>
</header>

<body>

<%= render "/layouts/errors" %>

<%= yield %>

</body>
</html>
