<% action_url = subb.persisted? ? sub_url(subb) : subs_url %>
<% http_method = subb.persisted? ? "PATCH" : "POST" %>
<% button_text = subb.persisted? ? "Update" : "Create" %>

<form action="<%= action_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= http_method %>">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label>Sub title
    <input type="text" name="sub[title]" value="<%= subb.title %>">
  </label>

  <br><br>
  <label>Sub description
    <textarea name="sub[description]"><%= subb.description %></textarea>
  </label>
  <br><br>

  <button><%= button_text %> </button>

</form>
